@import '~assets/styles/variables.less';

.thesaurus-container {
  .thesaurus-entry-item {
    & + .thesaurus-entry-item {
      margin: 2px 0 0 0;
    }

    .example-box {
      .example-item {
        color: @main-level-4;

        .example-padding-text {
          color: transparent;
          margin-right: 20px;
          user-select: none;
        }

        .example-text {
          color: @main-level-4;
        }
      }
    }
  }
}

.thesaurus-item {
  .thesaurus-item-title {
    color: @main-level-4;
    margin-right: 20px;
  }

  .thesaurus-word-box {
    display: list-item;

    .thesaurus-word-item {
      & + .thesaurus-word-item {
        margin-top: 2px;
      }

      .nym-register {
        margin-right: 5px;
      }

      .nym-item {
        color: @main-level-4;
      }
    }
  }
}
