.icon-radio {
  user-select: none;

  .icon-box {
    position: relative;
    cursor: pointer;
    height: 48px;
    width: 48px;

    &:hover {
      background: #DDD;
    }

    .check-icon {
      position: absolute;
      top: 0;
      right: 0;
      font-size: 20px;
      height: 20px;
      width: 20px;
      border-radius: 100px;
      background-color: white;
    }
  }
}
