.icon-radio {
  .icon-box {
    position: relative;
    cursor: pointer;

    img {
      height: 32px;
      width: 32px;
    }

    &:hover {
      background: #DDD;
    }

    .check-icon {
      position: absolute;
      top: 0;
      right: 0;
      font-size: 20px;
    }
  }
}
