@import '~assets/styles/variables.less';
@import '~assets/styles/hardreset.less';

.google-dict-result-container.no-matter-what-this-class-is.reset {
  // local variables
  @big-margin: 6px;
  @medium-margin: 4px;
  @small-margin: 3px;
  @tiny-margin: 2px;

  .container-reset();

  display: flex;
  word-break: break-word;
  flex-flow: column nowrap;
  max-height: 400px;
  position: relative;
  font-family: 'Noto Sans', 'Arial', sans-serif;

  .label-type-main () {
    background: #5BA6E6;
    color: white;
  }

  .label-type-light() {
    background: @background-level-5;
    color: @main-level-5;
  }

  .label-type-pink() {
    background: #F9DCDC;
    color: @main-level-3;
  }

  /deep/ .searchable-word {
    color: @primary;
    cursor: pointer;
  }

  &.has-scroll-bar {
    padding-right: 4px;

    .real-container {
      .scroll-content {
        padding-right: 10px;

        .expand-button {
          right: 8px;
        }
      }
    }
  }

  .real-container {
    position: relative;
    overflow: hidden;

    .scroll-bar-track {
      position: absolute;
      top: 0;
      right: 0;
      width: 8px;
      height: 100%;
      z-index: 2;

      &:hover, &.moving {
        .scroll-bar-thumb {
          left: 0;
          width: 8px;
          background: rgba(0, 0, 0, 0.25);
        }
      }

      .scroll-bar-thumb {
        display: flex;
        justify-content: center;
        position: absolute;
        width: 6px;
        height: 0;
        left: 1px;
        top: 0;
        border-radius: 100px;
        background: rgba(0, 0, 0, 0.15);
        cursor: pointer;
      }
    }

    .scroll-content {
      position: relative;
      overflow-y: scroll;
      padding-right: 0;

      .expand-button {
        position: absolute;
        top: 0;
        right: 0;
        height: 24px;
        width: 24px;
        background: url('~assets/img/expand_128456.svg');
        background-size: 16px;
        background-position: center;
        background-repeat: no-repeat;
        opacity: 0.3;
        cursor: pointer;

        &:hover {
          opacity: 0.6;
        }

        &:active {
          opacity: 0.9;
        }
      }
    }
  }

  .content-box {
    font-size: 13px;
    line-height: 17px;

    .entry-box {
      .entry-item {
        & + .entry-item {
          border-top: 1px solid @border-level-1;
          margin: 10px 0 0 0;
          padding: 4px 0 0 0;
        }

        &:first-child {
          .headword {
            margin-top: -3px;
          }
        }

        .headword {
          font-size: 20px;
          line-height: 1.5;
          align-items: flex-start;

          .headword-graph-index {
            font-size: 12px;
            margin: 0 0 0 2px;
          }
        }

        .phonetics-box {
          margin: 0 0 5px 0;
          height: 20px;
          line-height: 20px;
          align-items: center;
          color: @main-level-3;
          font-family: 'Noto Sans', 'Arial', sans-serif;

          .play-button {
            transform: translateY(1px);
            height: 20px;
            width: 22px;
            background: url('~assets/img/play/speaker-filled-audio-tool_59284.svg');
            background-size: 16px;
            background-position: center;
            background-repeat: no-repeat;
            opacity: 0.45;

            &:hover {
              opacity: 0.7;
            }

            &:active {
              background-position: center calc(50% + 1px);
              opacity: 1;
            }
          }
        }

        .sense-family-box {
          .sense-family-item {
            & + .sense-family-item {
              margin: 6px 0 0 0;
            }

            .poss {
              margin: 0 0 3px 0;
              font-style: italic;

              .pos + .pos {
                margin: 0 0 0 5px;
              }
            }

            .sense-list {
              margin: 2px 0 0 0;

              .sense-item {
                .sense-item-number {
                  flex: 0 0 30px;
                  text-align: right;
                  padding: 0 8px 0 0;
                  font-weight: bold;
                }

                .definition-box {
                  flex: 1 1 auto;
                }
              }
            }
          }
        }
      }
    }
  }

  .google-dict-modal-wrapper {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: stretch;
    z-index: 10;
    transition: 0.3s;
    opacity: 1;

    &.modal-enter, &.modal-leave-to {
      opacity: 0;

      .google-dict-modal-content {
        transform: scale(0.9);
      }
    }

    &.modal-enter-to, &.modal-leave {
      opacity: 1;

      .google-dict-modal-content {
        transform: translateY(1);
      }
    }

    .google-dict-modal-bg {
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: rgba(0, 0, 0, 0.4);
      transition: 0.3s;
      z-index: 1;
    }

    .google-dict-modal-content {
      position: relative;
      z-index: 2;
      font-size: 14px;
      line-height: 1.5;
      width: 80%;
      max-width: 800px;
      margin: 0 auto;
      overflow-y: auto;
      background: white;
      padding: 20px 20px 30px 20px;
      box-shadow: 0 0 30px rgba(0, 0, 0, 0.75);
      transition: 0.3s ease transform;

      .entry-box {
        .entry-item {
          .headword {
            font-size: 28px;

            .headword-graph-index {
              font-size: 14px;
            }
          }

          .phonetics-box {
            .play-button {
              margin: 0 0 0 3px;
            }
          }

          .note {
            margin: 10px 0;

            .note-type-box {
              margin: 0 0 3px 0;

              .note-type-label {
                .label-type-main();

                flex: 0 0 auto;
                padding: 2px 6px;
              }
            }

            .note-text {
              font-size: 12px;
              color: @main-level-4;
            }
          }

          .sense-family-box {
            .sense-family-item {
              & + .sense-family-item {
                margin-top: 15px;
              }

              .poss {
                margin: 0;

                .pos {
                  font-weight: bold;
                }
              }

              .morph-units-box {
                color: @main-level-5;

                .morph-units-item {

                  .morph-units-word-form {
                    color: @main-level-4-5;
                    font-weight: bold;
                  }

                  &:not(:last-child) {
                    padding: 0 3px 0 0;

                    &::after {
                      content: ';';
                    }
                  }
                }
              }

              .sense-list {
                .sense-item {
                  & + .sense-item {
                    margin: 5px 0 0 0;
                  }

                  .number {
                    flex: 0 0 50px;
                    padding: 0 10px 0 0;
                  }

                  .sense-item-box {
                    flex: 1 1 auto;

                    .sense-label {
                      font-size: 12px;
                      padding: 1px 4px;
                      margin: 0 0 0 3px;

                      span:not(:last-child) {
                        margin: 0 5px 0 0;
                      }

                      &.domain-label {
                        .label-type-light();
                      }

                      &.semantic-label {
                        .label-type-pink();
                      }
                    }
                  }

                  .subsense-box {
                    margin: 2px 0 0 0;

                    .subsense-item {
                      margin: 2px 0 0 20px;
                      display: list-item;

                      .subsense-definition {
                        align-items: center;

                        .subsense-label {
                          font-size: 12px;
                          padding: 1px 4px;
                          margin: 0 0 0 3px;

                          span:not(:last-child) {
                            margin: 0 5px 0 0;
                          }

                          &.domain-label {
                            .label-type-light();
                          }

                          &.semantic-label {
                            .label-type-pink();
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }

      .usage-overtime {
        border-top: 1px solid @border-level-1;
        margin-top: 15px;

        .title {
          font-size: 18px;
          color: @main-level-4;
          margin: 12px 0 0 0;
        }

        .usage-img-wrapper {
          margin: 8px 0 0 0;

          img {
            max-width: 100%;
          }
        }
      }
    }
  }
}
