@import '~assets/styles/variables.less';
@import '~assets/styles/mixins.less';

.google-dict-result-container {
  // local variables
  @big-margin: 6px;
  @medium-margin: 4px;
  @small-margin: 3px;
  @tiny-margin: 2px;

  .container-mixin();

  padding: 7px 0 10px 10px;
  word-break: break-word;
  position: relative;
  font-family: 'Arial', 'Microsoft Yahei', sans-serif;

  /deep/ .entry-link {
    color: @primary;
    cursor: pointer;
  }

  .scroll-container {
    max-height: 250px;

    .google-content-simple {
      flex: 1 1 auto;
      padding-right: 10px;
      position: relative;

      .expand-button {
        position: absolute;
        top: -2px;
        right: 6px;
        height: 24px;
        width: 24px;
        background: url('~assets/img/expand_128456.svg');
        background-size: 16px;
        background-position: center;
        background-repeat: no-repeat;
        opacity: 0.3;
        cursor: pointer;
        z-index: 2;

        &:hover {
          opacity: 0.6;
        }

        &:active {
          opacity: 0.9;
        }
      }
    }
  }

  .google-content-box {
    font-size: 13px;
    line-height: 17px;

    .entry-box {
      .entry-item {
        &:first-child {
          margin-top: -2px;
        }

        & + .entry-item {
          border-top: 1px solid @border-level-1;
          margin: 10px 0 0 0;
          padding: 4px 0 0 0;
        }
      }
    }

    .translate-data-box {
      font-family: 'Microsoft Yahei', 'Arial', sans-serif;
      font-size: 14px;
      line-height: 1.5;

      .translate-source {
        font-size: 12px;
        color: @main-level-4;
        text-align: right;
        margin-top: 5px;
      }
    }
  }
}
