@import '~assets/styles/variables.less';

.iciba-setting-modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10000000;
  background: rgba(0, 0, 0, 0.3);
  transition: 0.3s;

  &.iciba-setting-modal-enter,
  &.iciba-setting-modal-leave-to {
    background: rgba(0, 0, 0, 0);

    .iciba-setting-window {
      transform: translateY(-10%);
      opacity: 0;
    }
  }

  &.iciba-setting-modal-leave,
  &.iciba-setting-modal-enter-to {
    background: rgba(0, 0, 0, 0.3);

    .iciba-setting-window {
      transform: translateY(0);
      opacity: 1;
    }
  }

  .iciba-setting-window {
    position: relative;
    transition: 0.3s;
    transform: translateY(0);
    opacity: 1;
    width: 500px;
    height: 500px;
    background: white;
    background: red;
    overflow: hidden;

    .close-btn {
      background-image: url('~assets/img/close.svg');
      background-size: 16px;
      background-position: center;
      background-repeat: no-repeat;
      height: 40px;
      width: 40px;
      cursor: pointer;

      &:hover {
        background-color: @background-level-3;
      }
    }

    .title-box {
      border-bottom: 1px solid @border-level-1;

      .tab-box {
        flex: 0 0 auto;

        .tab {
          user-select: none;
          cursor: pointer;
          padding: 0 15px;
          height: 40px;
          line-height: 40px;
          border-right: 1px solid @border-level-1;

          &:hover {
            background: @background-level-5;
          }

          &.active {
            background: @background-level-3;
          }
        }
      }
    }

    .setting-container {
      flex: 1 1 auto;
      padding: 15px;
    }
  }
}
