@import '~assets/styles/variables.less';
@import '~assets/styles/hardreset.less';

.baidu-translate-result-container {
  .container-reset();

  position: relative;
  padding: 7px 0 10px 10px;
}

.baidu-translate-result-scroll-container {
  flex: 1 1 auto;
  padding: 7px 10px 10px 10px;
  color: black;
  font-size: 14px;
  line-height: 1.5;
  word-break: break-word;
}
