.i-tabs-items {
  .window-container {
    position: relative;
    width: 100%;
    min-height: 100%;
    transition: 0.3s ease height;
    overflow: hidden;

    .vnode-window {
      width: 100%;
      transition: 0.3s ease;
    }
  }
}
