@import '~assets/styles/variables.less';
@import '~assets/styles/hardreset.less';

.reset {
  .hard-reset();

  * {
    .hard-reset();
  }
}

.iciba-userscript-iciba-result-container.reset {
  // local variables
  @big-margin: 6px;
  @medium-margin: 4px;
  @small-margin: 3px;
  @tiny-margin: 2px;

  .container-reset();

  display: flex;
  flex-flow: column nowrap;
  word-break: break-word;

  .flex {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .flex-co {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .symbols-box {
    .symbol-item {
      width: 100%;

      & + .symbol-item {
        margin: @big-margin 0 0 0;
      }

      .pronunciation-box {
        .pronunciation-item {
          align-items: center;
          height: 20px;
          line-height: 20px;

          .ipa-type-name {
            margin-right: @medium-margin;
            color: @main-level-4;
            font-size: @font-size-base - 2px;
          }

          .ipa {
            color: @main-level-3;
            font-size: @font-size-base - 2px;
            font-family: 'Microsoft Yahei', 'Arial';
          }

          .playSound {
            margin: 0 0 0 @medium-margin;
            width: 16px;
            height: 16px;
            background-image: url('~assets/img/play/play-button-arrowhead_27223.svg');
            background-size: 16px 16px;
            cursor: pointer;

            &:hover {
              opacity: 0.7;
            }
            &:active {
              opacity: 0.9;
            }
          }
        }
      }

      .part-box {
        margin: @medium-margin 0 0 0;

        &.no-margin-top {
          margin: 0;
        }

        .part-item {
          @part-line-height: 20px;

          & + .part-item {
            margin: @small-margin 0 0 0;
          }

          .part-item-part {
            flex: 0 0 auto;
            padding: 0 6px 0 0;
            color: @main-level-4;
            line-height: @part-line-height;
          }

          .part-item-meaning-box {
            flex: 1 1 auto;
            line-height: @part-line-height;

            .meaning-item {
              &:not(:last-child) {
                padding-right: @small-margin;
              }
            }
          }
        }
      }
    }
  }

  .translation-box {
    align-items: stretch;

    .translate-tip {
      margin: 5px 0 0 0;
      text-align: right;
      color: @main-level-4;
      font-size: @font-size-base - 2px;
    }
  }
}
