@import '~assets/styles/variables.less';
@import '~assets/styles/mixins.less';

.entry-item {
  .headword {
    .headword-word {
      font-size: 28px;
      line-height: 1.5;
      align-items: flex-start;
    }

    .headword-graph-index {
      font-size: 14px;
      margin: 0 0 0 2px;
    }
  }

  .phonetics-box {
    .play-button {
      margin: 0 0 0 3px;
    }
  }

  .entry-label-set-box {
    margin: 5px 0 3px 0;
  }

  .sense-family-box {
    .sense-family-item {
      & + .sense-family-item {
        margin-top: 15px;
      }

      .poss {
        font-style: italic;
        margin: 0;

        .pos {
          font-weight: bold;
          & + .pos {
            margin: 0 0 0 5px;
          }
        }
      }

      .morph-units-box {
        color: @main-level-5;

        .morph-units-item {
          font-size: 0;

          * {
            font-size: 14px;
          }

          .morph-units-word-form {
            color: @main-level-4-5;
            font-weight: bold;
          }

          .morph-units-description,
          .morph-units-split {
            margin: 0 4px 0 0;
          }
        }
      }

      .sense-list {
        margin: 2px 0 0 0;

        .sense-item {
          & + .sense-item {
            margin: 5px 0 0 0;
          }

          .sense-item-number {
            flex: 0 0 50px;
            text-align: right;
            padding: 0 10px 0 0;
            font-weight: bold;
          }

          .sense-item-box {
            flex: 1 1 auto;

            .definition-box {
              flex: 1 1 auto;

              .difinition {
                .sense-labels {
                  margin-left: 5px;
                  font-size: 0;

                  .sense-difinition-label-box:not(:last-child) {
                    margin-right: 5px;
                  }
                }
              }
            }
          }

          .subsense-box {
            .subsense-item {
              // margin: 2px 0 0 0;

              .subsense-number {
                flex: 0 0 32px;
                color: @main-level-4;
                line-height: 21px;
                font-family: 'consolas', monospace;
              }

              .subsense-item-container {
                flex: 1 1 auto;

                .subsense-definition {
                  .subsense-labels {
                    margin-left: 5px;
                    font-size: 0;

                    .subsense-label-box:not(:last-child) {
                      margin-right: 5px;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
