@import './variables.less';

// *, *:hover, *:active, *:focus {
.hard-reset() {
  &, &:hover, &:active, &:focus {
    all: unset;
    box-sizing: border-box;
    font-weight: normal;
  }
}

.container-reset() {
  line-height: 1.5;
  color: @main-level-1;
}
