@import '~assets/styles/variables.less';

.iciba-circle {
  position: absolute;
  display: block;
  z-index: 10000;
  overflow: hidden;
  width: 22px;
  height: 22px;
  border: 1px solid hsl(0, 0%, 10%);
  border-radius: 100px;
  background: hsl(215, 70%, 80%);
  box-shadow: 0 0 1px rgba(black, 0.7);
  opacity: 0.7;
  box-sizing: border-box;
  user-select: none;

  &:hover {
    opacity: 1;
  }

  &:active {
    filter: brightness(0.8);
    box-shadow: 0 0 2px rgba(black, 0.6), 0 1px 1px rgba(black, 0.4) inset;
  }
}
